<configuration xmlns="http://logging.apache.org/log4php/">
    <appender name="checkMyPi" class="LoggerAppenderFile">
        <layout class="LoggerLayoutPattern">
            <param name="conversionPattern" value="%date{Y-m-d H:i:s} [%level] %message%newline" />
        </layout>
        <param name="file" value="checkMyPi/alltask.log" />
    </appender>
    <root>
        <level value="DEBUG" />
        <appender_ref ref="checkMyPi" />
    </root>
</configuration>